[defaults]
stdout_callback = yaml
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks,timer
display_ok_hosts = True
display_skipped_hosts = True
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ForwardAgent=no
pipelining = True
